{% extends "base.html" %}
{% load app_filters %}

{% block content %}
    <form action="/qrcode">
        <input type="submit" value="Go to QRCode Generator" />
    </form>
    <form id="address_form" action="/" method="get">
        <label for="address_title">Address:</label>
        <input type="text" name="address" maxlength="34" required id="id_address" pattern="[0-9a-zA-Z]{27,34}" value="{{address}}" />
        <br>
        <label for="address_title">From:</label>
        <input type="text" name="from_date" maxlength="20" id="id_from_date" placeholder="YYYY-MM-DD" 
                pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])"
                value="{{start_date}}" />
        <label for="address_title">To:</label>
        <input type="text" name="to_date" maxlength="20" id="id_to_date" placeholder="YYYY-MM-DD" 
                pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" 
                value="{{end_date}}"/>
        <input type="submit" value="Search" />
    </form>
    {% if transactions %}
        Count: {{count}}
        <br>
        Balance: {{sum|btc_human_read}}
        <br>
        Total BTC Flow: {{total_value|btc_human_read}}
        <h3>Transactions:</h3>
        <ul>
        {% for t in transactions %}
            <li>hash_id: {{t.hash_id}}, value: {{t.value|btc_human_read}}, date: {{t.date|data_format}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Invalid bitcoin address</p>
    {% endif %}
{% endblock content %}
