<!DOCTYPE html>
<html>
    <head>
        <title>Blockchain Info</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
    {% block content %}{% endblock content %}
    </body>

    <script type="text/javascript">
        $("#address_form").submit(function( event ) {
            event.preventDefault();
            
            if($("#id_from_date").val().length != 0 || $("#id_to_date").val().length != 0){
                if($("#id_from_date").val().length != 0 && $("#id_to_date").val().length != 0){
                    location.href = "/" + $("#id_address").val().trim() + 
                                    '?start=' + $("#id_from_date").val().trim() +
                                    '&end=' + $("#id_to_date").val().trim()
                }
                else if($("#id_from_date").val().length != 0){
                    location.href = "/" + $("#id_address").val().trim() + 
                                    '?start=' + $("#id_from_date").val().trim()
                }
                else{
                    location.href = "/" + $("#id_address").val().trim() + 
                                    '?end=' + $("#id_to_date").val().trim()
                }  
            }
            else{
                location.href = "/" + $("#id_address").val().trim()
            }
        }); 
    </script>
    <script type="text/javascript">
        $("#qrcode_form").submit(function( event ) {
            event.preventDefault();
            location.href = "/qrcode?address=" + $("#id_address").val().trim()
        }); 
    </script>
</html>